/* ====================START==============================================================================
		@ua - Необхідно для відображення комунікатора
		@en - It is necessary to display communicator
*/
.container-fluid #scheduler_here {
height: 800px;
width: 100%;
border: 1px solid #cecece;
}

/* =======================END=========================================================================== */

/* ====================START==============================================================================
		@ua - Ці CSS селектори змінюються динамічно і залежать від значеннь "key": 'petrov', 'klim', 'tkachuk'
		@en - These CSS selectors change dynamically and depend on values "key": 'petrov', 'klim', 'tkachuk'
			var subject = [
				{ key: 'petrov', label: 'Петров П.Г.'},
				{ key: 'klim', label: 'Климентьев В.Г.'},
				{ key: 'tkachuk', label: 'Ткачук Д.Р.'},
			];

	*/

/* =======================END=========================================================================== */



/*=====================================START=============================================================
	@ua - Це потрібно для позначок кольорів для лікарів
	@en - This is to label colors for doctors
*/
.doctors h5 {
	margin-left: 25px;
	width: 200px;
}
.circle-color {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.color-1 {
	background: #FFA500;
}

.color-2 {
	background: #FC5BD5;
}

.color-3 {
	background: #36BD14;
}

.color-4 {
	background: #5B9BE0;
}

.color-5 {
	background: #E00306;
}
/*=========================================END=========================================================

/*=========================================START=========================================================
	@ua - Тут можна визначити колір або фон для вихідних днів (субота та неділя)
	@en - You can determine the color or background for the weekend (Saturday and Sunday)
*/
.dhx_scale_holder_now.weekday, .dhx_scale_holder.weekday {
	background-image: url(/assets/imgs/week_bg.png);
}


/* ===========================================END======================================================= */

/* =============================================START=====================================================
	@ua - Необхідні поправки
	@en - Necessary amendments
	*/
.dhx_section_time select {
	width: auto;
	height: auto;
	margin-bottom: 20px;
}

.dhx_cal_ltext select {
	height: 20px;
}

.dhx_cal_header {
	height: 35px !important;
}

.dhx_scale_bar {
	height: 33px !important;
}

.dhx_scheduler_month .dhx_cal_data {
	top: 96px !important;
}

.dhx_scheduler_month .dhx_cal_header {
	left: 6px !important;
}
.dhx_cal_event .dhx_body {
	width: 100% !important;
	min-height: 20px;
}

div.dhx_menu_icon {
	margin: 0 !important;
}

.dhx_cal_navline .week_tab {
	left: 103px !important;
}
.dhx_cal_navline .month_tab {
	left: 192px !important;
}

.dhx_cal_navline  .unit_tab {
	left: 14px !important;
}
.dhx_cal_light select {
	height: 28px !important;
	line-height: 25px !important;
}
/* ===========================================END======================================================= */

